// creating a css variable of our colors

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-cyan: hsl(180, 29%, 50%);
    --gray-cyan: hsl(180, 52%, 96%);
    --gray-cyanII: hsl(180, 31%, 95%);
    --dark-gray-cyan: hsl(180, 8%, 52%);
    --v-dark-gray-cyan: hsl(180, 14%, 20%);
    
}